<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>政治・経済</string>
		<key>feedUrlString</key>
		<string>http://news.nicovideo.jp/tag/%E6%94%BF%E6%B2%BB%E3%83%BB%E7%A4%BE%E4%BC%9A</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ビジネス</string>
		<key>feedUrlString</key>
		<string>http://news.nicovideo.jp/tag/%E3%83%93%E3%82%B8%E3%83%8D%E3%82%B9</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ネット・科学</string>
		<key>feedUrlString</key>
		<string>http://news.nicovideo.jp/tag/%E3%83%8D%E3%83%83%E3%83%88%E3%83%BB%E7%A7%91%E5%AD%A6</string>
	</dict>
	<dict>
		<key>title</key>
		<string>海外</string>
		<key>feedUrlString</key>
		<string>http://news.nicovideo.jp/tag/%E6%B5%B7%E5%A4%96</string>
	</dict>
	<dict>
		<key>title</key>
		<string>スポーツ</string>
		<key>feedUrlString</key>
		<string>http://news.nicovideo.jp/tag/%E3%82%B9%E3%83%9D%E3%83%BC%E3%83%84</string>
	</dict>
	<dict>
		<key>title</key>
		<string>エンタメ</string>
		<key>feedUrlString</key>
		<string>http://news.nicovideo.jp/tag/%E3%82%A8%E3%83%B3%E3%82%BF%E3%83%A1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ゲーム・アニメ</string>
		<key>feedUrlString</key>
		<string>http://news.nicovideo.jp/tag/%E3%82%B2%E3%83%BC%E3%83%A0%E3%83%BB%E3%82%A2%E3%83%8B%E3%83%A1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雑学</string>
		<key>feedUrlString</key>
		<string>http://news.nicovideo.jp/tag/%E9%9B%91%E5%AD%A6</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ブロマガ</string>
		<key>feedUrlString</key>
		<string>http://news.nicovideo.jp/tag/%E3%83%96%E3%83%AD%E3%83%9E%E3%82%AC</string>
	</dict>
</array>
</plist>
